.homepageContainer {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
}

.homepageContainer h1 {
    color: white;
    font-size: 40px;
}

.contentContainer {
}

@media (min-width: 800px) {
    .contentContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }