.ownedStock {
    border-radius: 30px;
    background-color: #404040;
    border: 2px solid #707070;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
}

.ownedStockName {
    font-size: 24px;
    font-weight: 600;
}

.ownedStockPrice {
    font-size: 20px;
}

.ownedStockPercentChange {
    font-size: 18px;
}

.positive {
    color: #3dff7e;
}

.negative {
    color: #ff3d3d;
}